*{box-sizing: border-box;

}
section{
    width: 300px;
    }

    
h1{
    font-weight: bold;
    color:indianred;
    margin:10px;
    border:10px solid red;
    padding:10px color lightblue;
    background-color: lightblue;
}
/** el siguiente es un estilo con id y solo puede 
utilizarse una sola vez
*/
#miParrafo{
    padding: 30px;
    font-style: oblique ;
    color:blueviolet
}
.estaEsMiClase{
    font-family: michroma,sans-serif;
    text-transform: uppercase;
    font-size: medium;
    color:brown;

}
